@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

html {    
  background: url(https://wallpaper.dog/large/10737956.jpg) no-repeat center fixed;      
  background-size: cover;
  background-attachment: fixed;
  font-size: 62.5%;
  overflow: visible;
  scroll-behavior: smooth;
  scroll-padding: 6rem;
}
/*base*/
* {
  cursor: url('../images/cat.png'), auto;
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
