/*background for pics*/
.pic {
  table-layout: flex; 
  float:left; 
  padding-left: 9px;
  margin-top: 15px;
} 

/*gifs*/
.loadedGifs {
  position: relative;
  display:flex;
  background-color: white;
  object-fit:fill;
  width: 310px;
  height: 310px;
  padding: 10px;
}

/*small info for the user and date when the gif is uploaded*/
.userinfo,
.date {
  position:relative;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family: Rockwell;
  font-size: 17px;
  font-display:initial;
  color: black;
  background-color: white;
}

.infoUs
 {
 opacity: 0;
}

.infoUs:hover
{
  opacity:1;
  -webkit-transition: opacity .45s ease-in-out .0s;
  transition: opacity .25s ease-in-out .0s;
}

/*the background for heart button*/
.information {
  display: flex;
  background-color: white;
}

/*the small heart button*/
.fav {
  position:relative;
  font-size: 38px;
  margin-left:auto;
}

.infoSearch {
  text-align: center;
  font-size: 30px;
  color: palevioletred;
 
}
.infoSearch span {
  font-family: Chalkduster; /*or copperplate*/
}

/* .uploadGifs {
  background: url('https://www.seekpng.com/png/full/11-117283_chat-bubble-png-transparent-image-white-chat-bubble.png') no-repeat center fixed;
  width: 20px;
  height: 20px;
} */
.textArea {
  text-align: left;
  font-size: 40px;
  margin-left: 40px;
  margin-top: 20px;
  color: black;
  font-family: Copperplate;
}