header {
  /* font-family: 'Courier New', Courier, monospace; */
  position: auto;
  display: flex; 
  align-items: center;
  justify-content: space-around;
  background-image: url(https://img.freepik.com/free-photo/empty-white-marble-stone-table-top-blur-glass-window-wall-background_7191-1044.jpg?w=2000);
  opacity: 0.85;
  padding: 1rem;
  margin-top: 0px;
  font-size: 2.0em;
}

/*'Gif Galore' */
.name {
  text-align: center;
  position: static;
  font-size: 2.5em;
  color: palevioletred;

}
a.name {
  color: palevioletred;
  transition: 0.3s;
}
a.name:hover {
  color:crimson;
  transition: 0.3s;
}

/* emoticon for search*/
.lens {
  font-family: monospace;
  font-size: 30px;
  margin-right: 280px;
  color: black;
}

/*input position*/
input[type='text'i] {
  width: 680px;
  height: 35px;
}

/* form {
  color: rgb(62, 161, 87);
} */