/*for every a href element*/
a:focus {
  color: red;
  transition: 0.5s;
}
a:hover {
  color: rgb(231, 84, 133);
  transition: 0.5s;
}

#favorites,
#trending,
#upload,
#uploaded{
  /* margin-left: 8px; */
  font-size: 26px;
}
#searchPad {
font-size: 20px;
}