/*the whole form*/
#uploadForm {
  background-color: transparent;
}

/*container*/
#upl{
  font-size:25px;
  background-color: rgb(126, 117, 117);
  margin-top: 100px;
  margin-left: 600px;
  color: white;
  padding: 10px 20px;
  opacity: 60%;
}

/*button*/
#submit-form-btn {
  background-color: pink;
  font-size:28px;
  padding: 10px;
}

